/* line 5, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/partials/_typography.sass */
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/* line 7, sass/partials/_typography.sass */
h1 {
  font-size: 2.5rem;
}

/* line 1, sass/partials/_layout.sass */
.wrapper {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 12, ../../../../../../Users/jackmckenzie/.rvm/gems/ruby-2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, sass/partials/_layout.sass */
h1.brand {
  float: left;
}

/* line 11, sass/partials/_layout.sass */
ul.main-nav {
  float: right;
}

/* line 1, sass/modules/_header.sass */
.info-bar {
  background-color: #88c6bc;
}

/* line 4, sass/modules/_header.sass */
p.info-phone, p.info-email {
  display: inline-block;
  color: white;
  line-height: 2.8rem;
}

/* line 10, sass/modules/_header.sass */
.top-header {
  background-color: #5B5E5E;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

/* line 15, sass/modules/_header.sass */
h1.brand {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

/* line 23, sass/modules/_header.sass */
ul.main-nav li {
  display: inline-block;
  line-height: 2.8rem;
  padding-right: 15px;
}
/* line 29, sass/modules/_header.sass */
ul.main-nav li:last-child {
  padding-right: 0;
}
/* line 31, sass/modules/_header.sass */
ul.main-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: green;
  -moz-transition: color, ease 0.2s;
  -o-transition: color, ease 0.2s;
  -webkit-transition: color, ease 0.2s;
  transition: color, ease 0.2s;
}
/* line 39, sass/modules/_header.sass */
ul.main-nav li a:hover {
  color: #88c6bc;
}

/* line 15, sass/style.sass */
h1 {
  color: #88c6bc;
}
