// Colours
$elevate-green-h: #affff2
$elevate-green: #88c6bc
$elevate-green-s: #6982a7

$elevate-brown: #b27157
$elevate-brown-h: #ffc6af

$elevate-grey: #848A89
$elevate-grey-s: #5B5E5E

// Fonts
$noto: 'Noto Sans', Helvetica, Arial, sans-serif
// Font weights
$light: 100
$regular: 400
$bold: 700

// Base Font
$base-font-family: $noto
$base-font-weight: $regular
$base-font-size: 1rem
$base-line-height: 1.4
// $base-line-height: 22.4px

// Fixed Font
$fixed-font-family: monospace
$fixed-font-size: 85%
$fixed-line-height: $base-line-height

// Headings
$header-font-weight: $bold
