// 1.125rem font size (18px)
// 1.4 line-height

body
	font-family: $base-font-family
	font-weight: $base-font-weight
	font-size: $base-font-size
	line-height: $base-line-height

h1, h2, h3, h4, h5, h6, p
	margin-bottom: 1.4rem
h1, h2, h3, h4, h5, h6
	font-weight: 500
h2, h3, h4, h5, h6, p
	color: $elevate-grey
h1
	font-size: 3.433rem
	line-height: 4.2rem
h2
	font-size: 2.747rem 
h3
	font-size: 2.197rem
	line-height: 2.8rem
h4
	font-size: 1.618rem
h5
	font-size: 1.406rem 
h6
	font-size: 1.125rem 
p
	font-weight: 300
	font-size: 1.125rem
a
	text-decoration: none
	color: $elevate-orange
	font-weight: 300